In [2]:
!pip install textract

Requirement already satisfied: textract in c:\users\subhe\appdata\roaming\python\python39\site-packages (1.6.5)
Requirement already satisfied: SpeechRecognition~=3.8.1 in c:\users\subhe\appdata\roaming\python\python39\site-packages (from textract) (3.8.1)
Requirement already satisfied: python-pptx~=0.6.18 in c:\users\subhe\appdata\roaming\python\python39\site-packages (from textract) (0.6.23)
Requirement already satisfied: chardet==3.* in c:\users\subhe\appdata\roaming\python\python39\site-packages (from textract) (3.0.4)
Requirement already satisfied: xlrd~=1.2.0 in c:\users\subhe\appdata\roaming\python\python39\site-packages (from textract) (1.2.0)
Requirement already satisfied: extract-msg<=0.29.* in c:\users\subhe\appdata\roaming\python\python39\site-packages (from textract) (0.28.7)
Requirement already satisfied: docx2txt~=0.8 in c:\programdata\anaconda3\lib\site-packages (from textract) (0.8)
Requirement already satisfied: pdfminer.six==20191110 in c:\users\subhe\appdata\roaming\python\python39\site-packages (from textract) (20191110)
Requirement already satisfied: six~=1.12.0 in c:\users\subhe\appdata\roaming\python\python39\site-packages (from textract) (1.12.0)
Requirement already satisfied: beautifulsoup4~=4.8.0 in c:\users\subhe\appdata\roaming\python\python39\site-packages (from textract) (4.8.2)
Requirement already satisfied: argcomplete~=1.10.0 in c:\users\subhe\appdata\roaming\python\python39\site-packages (from textract) (1.10.3)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from pdfminer.six==20191110->textract) (2.4.0)
Requirement already satisfied: pycryptodome in c:\programdata\anaconda3\lib\site-packages (from pdfminer.six==20191110->textract) (3.15.0)
Requirement already satisfied: soupsieve>=1.2 in c:\programdata\anaconda3\lib\site-packages (from beautifulsoup4~=4.8.0->textract) (2.2.1)
Requirement already satisfied: imapclient==2.1.0 in c:\users\subhe\appdata\roaming\python\python39\site-packages (from extract-msg<=0.29.*->textract) (2.1.0)
Requirement already satisfied: compressed-rtf>=1.0.6 in c:\users\subhe\appdata\roaming\python\python39\site-packages (from extract-msg<=0.29.*->textract) (1.0.6)
Requirement already satisfied: olefile>=0.46 in c:\programdata\anaconda3\lib\site-packages (from extract-msg<=0.29.*->textract) (0.46)
Requirement already satisfied: tzlocal>=2.1 in c:\programdata\anaconda3\lib\site-packages (from extract-msg<=0.29.*->textract) (4.2)
Requirement already satisfied: ebcdic>=1.1.1 in c:\users\subhe\appdata\roaming\python\python39\site-packages (from extract-msg<=0.29.*->textract) (1.1.1)
Requirement already satisfied: XlsxWriter>=0.5.7 in c:\programdata\anaconda3\lib\site-packages (from python-pptx~=0.6.18->textract) (3.0.1)
Requirement already satisfied: Pillow>=3.3.2 in c:\users\subhe\appdata\roaming\python\python39\site-packages (from python-pptx~=0.6.18->textract) (9.2.0)
Requirement already satisfied: lxml>=3.1.0 in c:\programdata\anaconda3\lib\site-packages (from python-pptx~=0.6.18->textract) (4.6.3)
Requirement already satisfied: pytz-deprecation-shim in c:\programdata\anaconda3\lib\site-packages (from tzlocal>=2.1->extract-msg<=0.29.*->textract) (0.1.0.post0)
Requirement already satisfied: tzdata in c:\programdata\anaconda3\lib\site-packages (from tzlocal>=2.1->extract-msg<=0.29.*->textract) (2024.1)

WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ryptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ryptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ryptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ryptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ryptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -4ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -3ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -2ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -1ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -umpy (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ryptography (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rkupsafe (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -0ikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arkupsafe (c:\programdata\anaconda3\lib\site-packages)

In [3]:
import os
import re
import nltk
import spacy
import string
import textract
import pandas as pd
import seaborn as sns
from matplotlib import pylab
from matplotlib import pyplot as plt

from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from wordcloud import WordCloud, STOPWORDS
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import CountVectorizer

import warnings
warnings.filterwarnings('ignore')

In [4]:
os.listdir(r'C:\Users\subhe\ATS_Parser')

['.ipynb_checkpoints',
 'ATS Parser.ipynb',
 'ATS_Parsing_NLP.ipynb',
 'Cleaned_Resumes.csv',
 'Data Engineer',
 'Data Scientist',
 'Java Developer',
 'PDF to DOCX Converter.ipynb',
 'Pdf_Dox.ipynb',
 'Raw_Resume.csv',
 'Resumes',
 'Text Extraction_proIt.ipynb']

In [5]:
# try to extract all folder one time
import os

file_name = []
category = []
base_dir = r'C:\Users\subhe\ATS_Parser'

for root, dirs, files in os.walk(base_dir, topdown=False):
    for name in files:
        if name.endswith(".pdf"):
            file_path = os.path.join(root, name)
            file_name.append(file_path)

In [6]:
file_path1 = []
category1  = []
directory1 = r'C:\Users\subhe\ATS_Parser\Data Engineer'

for i in os.listdir(directory1):
    if i.endswith('.pdf'):
        os.path.join(directory1, i)
        file_path1.append((textract.process(os.path.join(directory1, i))).decode('utf-8'))
        category1.append('Data Engineer')

In [7]:
data1 = pd.DataFrame(data = file_path1 , columns = ['Raw_Details'])
data1['Category1'] = category1
data1

                                         Raw_Details      Category1
0  Connor Dickson\r\n\r\nwww.connordickson.net\r\...  Data Engineer
1  FARAH MARTIN\r\nDATA ANALYST\r\n\r\nCONTACT\r\...  Data Engineer
2  Nikhil Thota San Jose, CA 95126 � nikhil.thota...  Data Engineer
3  RABIN ANTO\r\nLinkedin | Portfolio | rabinanto...  Data Engineer
4  TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\...  Data Engineer

In [8]:
file_path2 = []
category2  = []
directory2 = r'C:\Users\subhe\ATS_Parser\Data Scientist'
for i in os.listdir(directory2):
    if i.endswith('.pdf'):
        os.path.join(directory2, i)
        file_path2.append((textract.process(os.path.join(directory2, i))).decode('utf-8'))
        category2.append('Data Scientist')

In [9]:
data2 = pd.DataFrame(data = file_path2 , columns = ['Raw_Details'])
data2['Category2'] = category2
data2

                                         Raw_Details       Category2
0  CHANDRA SHEKAR BIKKANUR\r\n\r\nDallas, TX | (4...  Data Scientist
1  Juan Jose Carin\r\nData Scientist\r\n\r\nMount...  Data Scientist
2  Mohamed\nHANNANI, Machine Learning Engineer\r\...  Data Scientist
3  Nikunj Maheshwari, PhD\r\nSummary\r\n\r\n@ dat...  Data Scientist
4  Stefano Meschiari Ph.D.\r\nAs a Data Science l...  Data Scientist
5  Yama (Ya-Wen) Chang\r\nTel: 646-927-9876 | Ema...  Data Scientist

In [10]:
file_path3 = []
category3  = []
directory3 = r'C:\Users\subhe\ATS_Parser\Java Developer'
for i in os.listdir(directory3):
    if i.endswith('.pdf'):
        os.path.join(directory3, i)
        file_path3.append((textract.process(os.path.join(directory3, i))).decode('utf-8'))
        category3.append('Java Developer')

In [11]:
data3 = pd.DataFrame(data = file_path3 , columns = ['Raw_Details'])
data3['Category3'] = category3
data3

                                         Raw_Details       Category3
0  Narvaria Akash Singh\r\n\r\nPhone - 9924967357...  Java Developer
1  ATISH (Senior Developer)\r\n\r\nRESUME\r\n\r\n...  Java Developer
2
  Java Developer
3  Kushagra Srivastava\r\nSoftware Developer\r\n\...  Java Developer
4  Pragati Naigaonkar\r\n+91 7744934268 naigaonka...  Java Developer

In [12]:
resume_data = data1.append([data2, data3], ignore_index = True)
resume_data

,Raw_Details,Category1,Category2,Category3
0,Connor Dickson\r\n\r\nwww.connordickson.net\r\...,Data Engineer,NaN,NaN
1,FARAH MARTIN\r\nDATA ANALYST\r\n\r\nCONTACT\r\...,Data Engineer,NaN,NaN
2,"Nikhil Thota San Jose, CA 95126 � nikhil.thota...",Data Engineer,NaN,NaN
3,RABIN ANTO\r\nLinkedin | Portfolio | rabinanto...,Data Engineer,NaN,NaN
4,TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\...,Data Engineer,NaN,NaN
5,"CHANDRA SHEKAR BIKKANUR\r\n\r\nDallas, TX | (4...",NaN,Data Scientist,NaN
6,Juan Jose Carin\r\nData Scientist\r\n\r\nMount...,NaN,Data Scientist,NaN
7,"Mohamed\nHANNANI, Machine Learning Engineer\r\...",NaN,Data Scientist,NaN
8,"Nikunj Maheshwari, PhD\r\nSummary\r\n\r\n@ dat...",NaN,Data Scientist,NaN
9,Stefano Meschiari Ph.D.\r\nAs a Data Science l...,NaN,Data Scientist,NaN
10,Yama (Ya-Wen) Chang\r\nTel: 646-927-9876 | Ema...,NaN,Data Scientist,NaN
11,Narvaria Akash Singh\r\n\r\nPhone - 9924967357...,NaN,NaN,Java Developer
12,ATISH (Senior Developer)\r\n\r\nRESUME\r\n\r\n...,NaN,NaN,Java Developer
13,,NaN,NaN,Java Developer
14,Kushagra Srivastava\r\nSoftware Developer\r\n\...,NaN,NaN,Java Developer
15,Pragati Naigaonkar\r\n+91 7744934268 naigaonka...,NaN,NaN,Java Developer

In [13]:
resume_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Raw_Details  16 non-null     object
 1   Category1    5 non-null      object
 2   Category2    6 non-null      object
 3   Category3    5 non-null      object
dtypes: object(4)
memory usage: 640.0+ bytes

In [14]:
resume_data['Category'] = category1 + category2 + category3 
resume_data

,Raw_Details,Category1,Category2,Category3,Category
0,Connor Dickson\r\n\r\nwww.connordickson.net\r\...,Data Engineer,NaN,NaN,Data Engineer
1,FARAH MARTIN\r\nDATA ANALYST\r\n\r\nCONTACT\r\...,Data Engineer,NaN,NaN,Data Engineer
2,"Nikhil Thota San Jose, CA 95126 � nikhil.thota...",Data Engineer,NaN,NaN,Data Engineer
3,RABIN ANTO\r\nLinkedin | Portfolio | rabinanto...,Data Engineer,NaN,NaN,Data Engineer
4,TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\...,Data Engineer,NaN,NaN,Data Engineer
5,"CHANDRA SHEKAR BIKKANUR\r\n\r\nDallas, TX | (4...",NaN,Data Scientist,NaN,Data Scientist
6,Juan Jose Carin\r\nData Scientist\r\n\r\nMount...,NaN,Data Scientist,NaN,Data Scientist
7,"Mohamed\nHANNANI, Machine Learning Engineer\r\...",NaN,Data Scientist,NaN,Data Scientist
8,"Nikunj Maheshwari, PhD\r\nSummary\r\n\r\n@ dat...",NaN,Data Scientist,NaN,Data Scientist
9,Stefano Meschiari Ph.D.\r\nAs a Data Science l...,NaN,Data Scientist,NaN,Data Scientist
10,Yama (Ya-Wen) Chang\r\nTel: 646-927-9876 | Ema...,NaN,Data Scientist,NaN,Data Scientist
11,Narvaria Akash Singh\r\n\r\nPhone - 9924967357...,NaN,NaN,Java Developer,Java Developer
12,ATISH (Senior Developer)\r\n\r\nRESUME\r\n\r\n...,NaN,NaN,Java Developer,Java Developer
13,,NaN,NaN,Java Developer,Java Developer
14,Kushagra Srivastava\r\nSoftware Developer\r\n\...,NaN,NaN,Java Developer,Java Developer
15,Pragati Naigaonkar\r\n+91 7744934268 naigaonka...,NaN,NaN,Java Developer,Java Developer

In [15]:
resume_data.drop(['Category1', 'Category2', 'Category3'], axis = 1, inplace = True)
resume_data = resume_data[["Category", "Raw_Details"]]

In [16]:
resume_data.head(15)

          Category                                        Raw_Details
0    Data Engineer  Connor Dickson\r\n\r\nwww.connordickson.net\r\...
1    Data Engineer  FARAH MARTIN\r\nDATA ANALYST\r\n\r\nCONTACT\r\...
2    Data Engineer  Nikhil Thota San Jose, CA 95126 � nikhil.thota...
3    Data Engineer  RABIN ANTO\r\nLinkedin | Portfolio | rabinanto...
4    Data Engineer  TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\...
5   Data Scientist  CHANDRA SHEKAR BIKKANUR\r\n\r\nDallas, TX | (4...
6   Data Scientist  Juan Jose Carin\r\nData Scientist\r\n\r\nMount...
7   Data Scientist  Mohamed\nHANNANI, Machine Learning Engineer\r\...
8   Data Scientist  Nikunj Maheshwari, PhD\r\nSummary\r\n\r\n@ dat...
9   Data Scientist  Stefano Meschiari Ph.D.\r\nAs a Data Science l...
10  Data Scientist  Yama (Ya-Wen) Chang\r\nTel: 646-927-9876 | Ema...
11  Java Developer  Narvaria Akash Singh\r\n\r\nPhone - 9924967357...
12  Java Developer  ATISH (Senior Developer)\r\n\r\nRESUME\r\n\r\n...
13  Java Developer

14  Java Developer  Kushagra Srivastava\r\nSoftware Developer\r\n\...

In [17]:
resume_data["Raw_Details"][4]

"TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\r\n\r\ntomislav.abram@email.com\r\n\r\n(123) 456-7890\r\n\r\nSausalito, CA\r\n\r\nLinkedIn\r\n\r\nTwitter\r\n\r\nWORK EXPERIENCE\r\n\r\nJunior Data Analyst\r\n\r\nSunbit\r\n\r\nJuly 2020 - current\r\n\r\nSan Francisco, CA\r\n\r\nDesigned over 310 ad hoc queries with SQL in Cognos ReportNet, examined reports, and presented findings in PowerPoint and Excel\r\n\r\nBuilt 140 complex SQL reports to audit $2.5M of pay and benefits for over 1,300 employees\r\n\r\nReengineered standard operational procedures that improved 22 functional areas and data management\r\n\r\nMaintained reports with a 98% on-time delivery\r\n\r\nFacilitated data distribution, file sharing, and report tracking for over 4,000 files with SharePoint\r\n\r\nData Analyst Internship\r\n\r\nDoorDash\r\n\r\nOctober 2019 - May 2020\r\n\r\nSan Francisco, CA\r\n\r\nPerformed advanced analytics functions, including data modeling and prescriptive analytics\r\n\r\nUtilized techniques and business intelligence (Power BI) to create 24 dashboards and 35 ad hoc reports to address business problems and streamline processes\r\n\r\nSupported 16 T-SQL / VBA applications and tools\r\n\r\nPROJECT\r\nDigital Analytics Association (DAA)\r\nMember\r\nLed Gender and Age detection project leveraging data from organizational membership and associated websites Created a Python application that predicts the age and gender of a site visitor based on a single image Used computer vision tools to recognize digital images and Deep Learning to determine age and gender based on facial characteristics Published applications including AI algorithms that accounted for makeup, facial expressions, lighting, and obstructions in gender and age detection\r\n\r\nCAREER OBJECTIVE\r\nHighly educated, innovative, and motivated data analysis professional with a wealth of knowledge. Seeking a challenging and career-advancing position as a junior data analyst with Tech Firefly.\r\nEDUCATION\r\nBachelor's of Science Computer Science University of San Francisco\r\n2016 - 2020 San Francisco, CA GPA: 4.0 Awards 2020 - Pedro Arrupe Award for rising seniors (Mission Council, Office of the President)\r\nSKILLS\r\nData Analytics Data Visualization Microsoft SQL Microsoft Power BI Tableau Python and R\r\nCERTIFICATIONS\r\nGoogle Data Analytics Professional Associate Certified Analytics Professional (aCAP)\r\n\r\n\x0c"

In [18]:
resume_data.to_csv('Raw_Resume.csv', index=False)

In [19]:
resume_data = pd.read_csv("Raw_Resume.csv")
resume_data

          Category                                        Raw_Details
0    Data Engineer  Connor Dickson\r\n\r\nwww.connordickson.net\r\...
1    Data Engineer  FARAH MARTIN\r\nDATA ANALYST\r\n\r\nCONTACT\r\...
2    Data Engineer  Nikhil Thota San Jose, CA 95126 � nikhil.thota...
3    Data Engineer  RABIN ANTO\r\nLinkedin | Portfolio | rabinanto...
4    Data Engineer  TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\...
5   Data Scientist  CHANDRA SHEKAR BIKKANUR\r\n\r\nDallas, TX | (4...
6   Data Scientist  Juan Jose Carin\r\nData Scientist\r\n\r\nMount...
7   Data Scientist  Mohamed\nHANNANI, Machine Learning Engineer\r\...
8   Data Scientist  Nikunj Maheshwari, PhD\r\nSummary\r\n\r\n@ dat...
9   Data Scientist  Stefano Meschiari Ph.D.\r\nAs a Data Science l...
10  Data Scientist  Yama (Ya-Wen) Chang\r\nTel: 646-927-9876 | Ema...
11  Java Developer  Narvaria Akash Singh\r\n\r\nPhone - 9924967357...
12  Java Developer  ATISH (Senior Developer)\r\n\r\nRESUME\r\n\r\n...
13  Java Developer

14  Java Developer  Kushagra Srivastava\r\nSoftware Developer\r\n\...
15  Java Developer  Pragati Naigaonkar\r\n+91 7744934268 naigaonka...

In [20]:
resume_data.isnull().sum()

Category       0
Raw_Details    0
dtype: int64

In [21]:
resume_data['Word_Count'] = resume_data['Raw_Details'].apply(lambda x: len(str(x).split(" ")))
resume_data[['Raw_Details','Word_Count']].head()

                                         Raw_Details  Word_Count
0  Connor Dickson\r\n\r\nwww.connordickson.net\r\...         293
1  FARAH MARTIN\r\nDATA ANALYST\r\n\r\nCONTACT\r\...         313
2  Nikhil Thota San Jose, CA 95126 � nikhil.thota...         684
3  RABIN ANTO\r\nLinkedin | Portfolio | rabinanto...         552
4  TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\...         275

In [22]:
resume_data['Char_Count'] = resume_data['Raw_Details'].str.len() ## this also includes spaces
resume_data[['Raw_Details','Char_Count']].head()

                                         Raw_Details  Char_Count
0  Connor Dickson\r\n\r\nwww.connordickson.net\r\...        2295
1  FARAH MARTIN\r\nDATA ANALYST\r\n\r\nCONTACT\r\...        2250
2  Nikhil Thota San Jose, CA 95126 � nikhil.thota...        4986
3  RABIN ANTO\r\nLinkedin | Portfolio | rabinanto...        3837
4  TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\...        2280

In [23]:
from nltk.corpus import stopwords
stop = stopwords.words('english')
resume_data['Stopwords'] = resume_data['Raw_Details'].apply(lambda x: len([x for x in x.split() if x in stop]))
resume_data[['Raw_Details','Stopwords']].head()

                                         Raw_Details  Stopwords
0  Connor Dickson\r\n\r\nwww.connordickson.net\r\...         48
1  FARAH MARTIN\r\nDATA ANALYST\r\n\r\nCONTACT\r\...         86
2  Nikhil Thota San Jose, CA 95126 � nikhil.thota...        127
3  RABIN ANTO\r\nLinkedin | Portfolio | rabinanto...         96
4  TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\...         62

In [24]:
resume_data['Numerics'] = resume_data['Raw_Details'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
resume_data[['Raw_Details','Numerics']].head()

                                         Raw_Details  Numerics
0  Connor Dickson\r\n\r\nwww.connordickson.net\r\...        10
1  FARAH MARTIN\r\nDATA ANALYST\r\n\r\nCONTACT\r\...        12
2  Nikhil Thota San Jose, CA 95126 � nikhil.thota...        18
3  RABIN ANTO\r\nLinkedin | Portfolio | rabinanto...        16
4  TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\...        12

In [25]:
resume_data

,Category,Raw_Details,Word_Count,Char_Count,Stopwords,Numerics
0,Data Engineer,Connor Dickson\r\n\r\nwww.connordickson.net\r\...,293,2295,48,10
1,Data Engineer,FARAH MARTIN\r\nDATA ANALYST\r\n\r\nCONTACT\r\...,313,2250,86,12
2,Data Engineer,"Nikhil Thota San Jose, CA 95126 � nikhil.thota...",684,4986,127,18
3,Data Engineer,RABIN ANTO\r\nLinkedin | Portfolio | rabinanto...,552,3837,96,16
4,Data Engineer,TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\...,275,2280,62,12
5,Data Scientist,"CHANDRA SHEKAR BIKKANUR\r\n\r\nDallas, TX | (4...",851,6233,241,8
6,Data Scientist,Juan Jose Carin\r\nData Scientist\r\n\r\nMount...,741,6179,174,36
7,Data Scientist,"Mohamed\nHANNANI, Machine Learning Engineer\r\...",835,6311,138,16
8,Data Scientist,"Nikunj Maheshwari, PhD\r\nSummary\r\n\r\n@ dat...",1028,8160,222,31
9,Data Scientist,Stefano Meschiari Ph.D.\r\nAs a Data Science l...,779,5631,172,24
10,Data Scientist,Yama (Ya-Wen) Chang\r\nTel: 646-927-9876 | Ema...,452,3953,80,15
11,Java Developer,Narvaria Akash Singh\r\n\r\nPhone - 9924967357...,442,3331,83,13
12,Java Developer,ATISH (Senior Developer)\r\n\r\nRESUME\r\n\r\n...,4811,35060,1223,23
13,Java Developer,,1,1,0,0
14,Java Developer,Kushagra Srivastava\r\nSoftware Developer\r\n\...,405,3194,102,5
15,Java Developer,Pragati Naigaonkar\r\n+91 7744934268 naigaonka...,605,4431,164,4

In [26]:
def preprocess(sentence):
    sentence = str(sentence)
    sentence = sentence.lower()
    sentence = sentence.replace('{html}',"") 
    cleanr = re.compile('<.*?>')
    cleantext = re.sub(cleanr, '', sentence)
    rem_url = re.sub(r'http\S+', '',cleantext)
    rem_num = re.sub('[0-9]+', '', rem_url)
    tokenizer = RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(rem_num)  
    filtered_words = [w for w in tokens if len(w) > 2 if not w in stopwords.words('english')]

    return " ".join(filtered_words)

In [27]:
resume_data = pd.read_csv('Raw_Resume.csv')
resume_data['Resume_Details'] = resume_data.Raw_Details.apply(lambda x: preprocess(x))

In [28]:
resume_data

,Category,Raw_Details,Resume_Details
0,Data Engineer,Connor Dickson\r\n\r\nwww.connordickson.net\r\...,connor dickson www connordickson net connordav...
1,Data Engineer,FARAH MARTIN\r\nDATA ANALYST\r\n\r\nCONTACT\r\...,farah martin data analyst contact farahmartin ...
2,Data Engineer,"Nikhil Thota San Jose, CA 95126 � nikhil.thota...",nikhil thota san jose nikhil thota sjsu edu li...
3,Data Engineer,RABIN ANTO\r\nLinkedin | Portfolio | rabinanto...,rabin anto linkedin portfolio rabinanto gmail ...
4,Data Engineer,TOMISLAV ABRAMOVIC\r\n\r\nJunior Data Analyst\...,tomislav abramovic junior data analyst tomisla...
5,Data Scientist,"CHANDRA SHEKAR BIKKANUR\r\n\r\nDallas, TX | (4...",chandra shekar bikkanur dallas cbikkanur gmail...
6,Data Scientist,Juan Jose Carin\r\nData Scientist\r\n\r\nMount...,juan jose carin data scientist mountain view j...
7,Data Scientist,"Mohamed\nHANNANI, Machine Learning Engineer\r\...",mohamed hannani machine learning engineer moha...
8,Data Scientist,"Nikunj Maheshwari, PhD\r\nSummary\r\n\r\n@ dat...",nikunj maheshwari phd summary datasciencenik g...
9,Data Scientist,Stefano Meschiari Ph.D.\r\nAs a Data Science l...,stefano meschiari data science leader work cro...
10,Data Scientist,Yama (Ya-Wen) Chang\r\nTel: 646-927-9876 | Ema...,yama wen chang tel email yamachang gmail com l...
11,Java Developer,Narvaria Akash Singh\r\n\r\nPhone - 9924967357...,narvaria akash singh phone email akashnarvaria...
12,Java Developer,ATISH (Senior Developer)\r\n\r\nRESUME\r\n\r\n...,atish senior developer resume summary highly m...
13,Java Developer,,
14,Java Developer,Kushagra Srivastava\r\nSoftware Developer\r\n\...,kushagra srivastava software developer kushagr...
15,Java Developer,Pragati Naigaonkar\r\n+91 7744934268 naigaonka...,pragati naigaonkar naigaonkarp gmail com pune ...

In [29]:
resume_data.drop(['Raw_Details'], axis = 1, inplace = True)
resume_data

          Category                                     Resume_Details
0    Data Engineer  connor dickson www connordickson net connordav...
1    Data Engineer  farah martin data analyst contact farahmartin ...
2    Data Engineer  nikhil thota san jose nikhil thota sjsu edu li...
3    Data Engineer  rabin anto linkedin portfolio rabinanto gmail ...
4    Data Engineer  tomislav abramovic junior data analyst tomisla...
5   Data Scientist  chandra shekar bikkanur dallas cbikkanur gmail...
6   Data Scientist  juan jose carin data scientist mountain view j...
7   Data Scientist  mohamed hannani machine learning engineer moha...
8   Data Scientist  nikunj maheshwari phd summary datasciencenik g...
9   Data Scientist  stefano meschiari data science leader work cro...
10  Data Scientist  yama wen chang tel email yamachang gmail com l...
11  Java Developer  narvaria akash singh phone email akashnarvaria...
12  Java Developer  atish senior developer resume summary highly m...
13  Java Developer
14  Java Developer  kushagra srivastava software developer kushagr...
15  Java Developer  pragati naigaonkar naigaonkarp gmail com pune ...

In [30]:
resume_data.to_csv('Cleaned_Resumes.csv', index = False)

In [31]:
resume_data = pd.read_csv('Cleaned_Resumes.csv')
resume_data

          Category                                     Resume_Details
0    Data Engineer  connor dickson www connordickson net connordav...
1    Data Engineer  farah martin data analyst contact farahmartin ...
2    Data Engineer  nikhil thota san jose nikhil thota sjsu edu li...
3    Data Engineer  rabin anto linkedin portfolio rabinanto gmail ...
4    Data Engineer  tomislav abramovic junior data analyst tomisla...
5   Data Scientist  chandra shekar bikkanur dallas cbikkanur gmail...
6   Data Scientist  juan jose carin data scientist mountain view j...
7   Data Scientist  mohamed hannani machine learning engineer moha...
8   Data Scientist  nikunj maheshwari phd summary datasciencenik g...
9   Data Scientist  stefano meschiari data science leader work cro...
10  Data Scientist  yama wen chang tel email yamachang gmail com l...
11  Java Developer  narvaria akash singh phone email akashnarvaria...
12  Java Developer  atish senior developer resume summary highly m...
13  Java Developer                                                NaN
14  Java Developer  kushagra srivastava software developer kushagr...
15  Java Developer  pragati naigaonkar naigaonkarp gmail com pune ...

In [32]:
resume_data.Resume_Details[5]

'chandra shekar bikkanur dallas cbikkanur gmail com www linkedin com cbikkanur accomplished data scientist driving significant results broad deep subject matter expertise committed successful data scientist broad based expertise leading analytics reporting dashboard development support evidence based decision making expertise spans project management team collaboration development analytics models citi improved client satisfaction using bert language model nlp support sentiment analysis customer comments demonstrated record success series promotions citi pgh group realflex applications holds master information data science degree university california berkeley pleasure working chandra time mids collaborated multiple projects including working model predict forest cover types well nlp project classify toxic user comments chandra incredible work ethic pays great attention detail apik machine learning lead facebook areas expertise skilled data science machine learning experienced natural language processing nlp proficient tensorflow keras pytorch packages experience data engineering supporting large scale projects developing data visualizations dashboards influencing executive decision making hands experience aws gcp azure programming python pyspark sql surpassing performance targets professional experience present citi irving citi leading global bank serves million customer accounts business countries jurisdictions senior data scientist fulfills key role member six person team data scientists supporting projects provide insight customer sentiment customer pain points resolve business challenges improve overall consumer experience collaborates data engineering team transition code production environments leveraged bert language model nlp support sentiment analysis customer comments providing citi valuable insight opportunities improve customer satisfaction improved accuracy sentiment analysis successfully reduced customer pain points building new algorithm text similarity score using regex idf cosine similarity score coupled pyspark code parquet file format order lower inference time machine learning pipeline hours five minutes enabled insight topics business interest implementing lda topic model large customer feedback text data set developed lstm bert deep learning models topic classification applied combination svc logistic regression linear svc xgboost logistic regression models build custom ensemble model topic classification developed text auto complete models assist users selecting next sentence using markov chains model chandra shekar bikkanur dallas cbikkanur gmail com www linkedin com cbikkanur pgh group irving pgh group llc consulting firm offered implementation support training sap salesforce workday oracle projects data scientist data integration lead coordinated executed variety data science data integration responsibilities line needs clients including data mining data cleaning model fitting evaluation features selection scope achievements included positive impacts business statistical analysis logistic regression modeling data visualization text similarity modeling credited authoring document coding standards improved comprehension data science team introducing consistency significantly reducing debugging time led predictive analytics project insurance company influencing mailing promotions focus policyholders risk canceling coverage performed statistical analysis underwriting data using python pyspark arrive determinations risk guide approval new insurance policies deployed model aws sagemaker inference innovated logistic regression model enable customer churn analysis serving foundation strategies increased customer policy renewals used tableau develop data visualization dashboards provided real time insight executives managers fostering data driven decision making improved customer retention development text similarity models increased visibility complaint trends enabled companies address resolve complaints lowered inference time wrapping machine learning prediction inference calls flask api deployed google compute engine realflex applications llc akron realflex applications software development company offering business intelligence erp solutions data integration specialist enabled real time interaction enterprise crm application enterprise ebs application using soa enhancing client mdm data modeling capabilities achieved goal development rest apis recognized creating channels enable exchange edi documents suppliers supporting business transactions education professional development university california berkeley master information data science degree louisiana tech university master science degree bioengineering biomedical engineering aws certified machine learning specialty amazon web services aws aws certified cloud practitioner amazon web services aws microsoft certified azure fundamentals microsoft deep learning specialization deeplearning'

In [33]:
# Import necessary libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.metrics import accuracy_score